@import url("https://fonts.googleapis.com/css2?family=Lora&family=Noto+Serif+Display:wght@300;700&family=Red+Hat+Display:wght@400;500&display=swap");

.navbar {
  height: 50px;
  background-color: #d3c4b0;
  display: flex;
  justify-content: center;
  min-width: fit-content;
  white-space: nowrap;
  position: fixed;
  width: 100%;
  z-index: 1;
  top: 65px;
}

.navContainer {
  width: 100%;
  max-width: 1024px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.navLink {
  border: none;
  padding: 5px 25px;
  cursor: pointer;
  color: rgb(58, 54, 54);
  text-decoration: none;
}

.navLink:hover {
  background-color: #eeeeee;
  color: black;
  padding: 16px;
  transition: background-color 0.4s;
}
.navLink:focus {
  text-decoration: underline;
}

.featured {
  color: white;
  background-color: #b7632e;
  padding: 16px;
}
