body {
  overflow-x: hidden;
}

.container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.allItemsContainer {
  display: flex;
  flex-wrap: wrap;
  max-width: 80%;
  justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 50px;
  z-index: 0;
}

.itemContainer {
  width: 15vw;
  padding: 50px;
  padding-bottom: 50px;
  max-height: 70vh;
  margin-bottom: 40px;
}

.productImg {
  height: 30vh;
  width: 100%;
  min-width: 150px;
  max-width: 200px;
}

.productTitle {
  font-size: 1em;
  max-height: 60px;
  min-height: 50px;
  overflow: hidden;

  text-overflow: ellipsis;
}

.productDesc {
  min-height: 20vh;
  max-height: 25vh;
  overflow: scroll;
}

.productPrice {
  font-size: 1em;
  font-weight: 400;
}

.heartItem {
  font-size: 1em;
  padding-left: 50px;
  color: rgb(255, 80, 80);
}

.heartItem:hover {
  cursor: pointer;
  color: rgb(133, 0, 0);
}

.addBtn {
  border: none;
  background-color: #4ec648;
  color: white;
  padding: 8px 15px;
  width: 100%;
  font-weight: 600;
  font-size: 0.8em;

  cursor: pointer;
}

.addBtn:hover {
  background-color: #3aa735;
}

.loadingScreen {
  display: flex;
  height: 50vh;
  justify-content: center;
  align-items: flex-start;
}
