.container {
  display: flex;
  justify-content: center;
}

.allItemsContainer {
  display: flex;
  flex-wrap: wrap;
  max-width: 80%;
  justify-content: space-between;
}

.itemContainer {
  width: 15vw;
  padding: 50px;
  max-height: 70vh;
}

.productImg {
  height: 30vh;
  width: 100%;
}

.productTitle {
  font-size: 1em;
}

.productPrice {
  font-size: 1em;
}

.addBtn {
  border: none;
  background-color: #4ec648;
  color: white;
  padding: 15px;
  width: 100%;
  font-weight: 800;
  cursor: pointer;
}

.addBtn:hover {
  background-color: #3aa735;
}
