body {
  overflow-x: hidden;
  background-color: #fefaf9;
}

.container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.allItemsContainer {
  display: flex;
  flex-wrap: wrap;
  max-width: 80%;
  justify-content: space-around;
  padding-top: 50px;
  padding-bottom: 50px;
  z-index: 0;
}

.itemContainer {
  width: 20vw;
  padding: 10px;
  padding-bottom: 50px;
  max-height: 100vh;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
}

.productImg {
  height: 70vh;
  width: 25vw;
  min-height: 400px;
  min-width: 100px;
  max-width: 300px;
  object-fit: cover;
}

.productTitle {
  font-size: 1em;
  max-height: 60px;
  min-height: 50px;
  overflow: hidden;

  text-overflow: ellipsis;
}

.productDesc {
  min-height: 15vh;
  max-height: 25vh;
  overflow: scroll;
}

.productPrice {
  font-size: 1em;
  font-weight: 400;
  align-self: flex-start;
}

.heartItem {
  font-size: 1em;
  padding-left: 50px;
  color: rgb(255, 80, 80);
  align-self: flex-end;
}

.heartItem:hover {
  cursor: pointer;
  color: rgb(133, 0, 0);
}

.addBtn {
  border: none;
  background-color: #4ec648;
  color: white;
  padding: 8px 15px;
  width: 50%;

  font-weight: 600;
  font-size: 0.8em;
  align-self: center;
  cursor: pointer;
}

.addBtn:hover {
  background-color: #3aa735;
}

.loadingScreen {
  display: flex;
  height: 50vh;
  justify-content: center;
  align-items: flex-start;
}
