* {
  font-family: "Poppins", sans-serif;
}

.wishlistHeading {
  font-size: 1.5em;
  padding-left: 70px;
}

.wishlistContainer {
  padding-top: 20vh;
  padding-bottom: 10vh;
  min-height: 70vh;
}

.wishlistItems {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.wishlistItem {
  margin: 10px;
  width: 20vw;
  display: flex;
  justify-content: center;
}

.wishlistImg {
  /* display: block; */
  height: 40vh;
  width: 100%;
  min-height: 40vh;
  max-width: 270px;
  object-fit: fill;
}

.wishlistName {
  width: 100%;
  min-height: 55px;
}
.addBtn.wishlist {
  width: 80%;
  margin: 0 auto;
  display: block;
}

.removeBtn.wishlist {
  color: gray;
  text-decoration: none;
  margin: auto;
  width: 100%;
  cursor: pointer;
  background-color: transparent;
}

.removeBtn.wishlist:hover {
  color: black;
}
