.basketIcon {
  z-index: 5;
  position: absolute;
}

.modal {
  background-color: rgb(255, 255, 255);
  height: 100%;
  width: 40vw;
  position: relative;
  left: 60vw;
  top: -3vh;
  z-index: 1;
}

.modalBackground {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100vw;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}

.itemImage {
  height: 10vw;
}
