* {
  font-family: "Poppins", sans-serif;
}

.basketIcon {
  position: absolute;
  height: 4vh;
  transition: 0.3s;
  cursor: pointer;
}

.basketIcon:hover {
  color: #696625;
}

.basketNumber {
  background-color: #696625;
  position: relative;
  z-index: 1;
  right: -16px;
  top: -8px;
  border-radius: 100%;
  padding: 4px 7px;
  font-size: 12px;
  color: white;
  font-weight: bold;
}

.closeModalBtn {
  border: none;
  background-color: white;
  color: gray;
  position: fixed;
  top: 5px;
  right: 8px;
  font-weight: bold;
  height: 1.5rem;
  cursor: pointer;
}

.modal {
  background-color: rgb(255, 255, 255);
  height: 100vh;
  min-height: fit-content;
  width: 40vw;
  position: relative;
  left: 60vw;
  top: 0vh;
  z-index: 2;
  overflow: scroll;
}

.modalBackground {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100vw;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1;
}

.basketTitle {
  font-size: 1.2rem;
  padding: 20px 20px;
}

.itemsInBag {
  color: red;
  font-size: 0.7em;
}

.basketItemContainer {
  display: flex;
  width: 100%;
  padding: 10px 25px;
}

.itemImage {
  height: 10vw;
  min-height: 100px;
  padding-right: 20px;
}
.itemName {
  font-weight: bold;
  width: 70%;
}

.itemPrice {
  position: absolute;
  right: 0;
  padding-right: 20px;
}

.quantityCounter {
  display: flex;
  height: 50px;
  align-items: center;
  padding: 5px 25px;
}

.basketQtyBtn {
  border: 0.5px solid black;
  color: black;
  background-color: white;
  width: 30px;
  height: 30px;
  font-weight: 500;
  font-size: 1.5rem;
}

.qtyNumber {
  padding: 5px 10px;
  /* height: 29px; */
  border: 0.5px solid black;
  align-self: center;
}

.removeBtn {
  border: none;
  background-color: white;
  text-decoration: underline;
  padding: 0 25px;
}

.checkoutContainer {
  display: flex;
  justify-content: center;
}
.basketCheckoutBtn {
  text-align: center;
  width: 80%;
}

.hr {
  border: 0.5px solid rgb(179, 179, 179);
}

.subtotal {
  padding: 0 25px;
}

.emptyCart {
  padding: 20px 20px;
}
